
@import url('https://fonts.googleapis.com/css2?family=Ubuntu:ital,wght@0,300;0,400;0,500;0,700;1,300;1,400;1,500;1,700&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:ital,wght@0,100..700;1,100..700&display=swap');

/* Estilo existente para o body e footer */
html {
    font-family: "Ubuntu", sans-serif;
    background-color: #191919;
    color: white;
}

nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: #2A2A2A;
    padding: 10px;
}

.brand {
    display: flex;
    align-items: center;
}

.brand img {
    height: 40px; /* Ajuste o tamanho do logotipo */
    margin-right: 10px; /* Espaçamento entre o logotipo e o texto */
}

nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: flex; /* Alinha os itens em linha */
    margin-left: auto; /* Empurra os links para a direita */
}

nav li {
    margin-left: 20px; /* Espaçamento entre os itens da lista */
}

nav a {
    color: white;
    text-decoration: none;
}

nav a:hover {
    text-decoration: underline;
}


.card-container {
    display: flex;           /* Usando flexbox para centralizar */
    flex-direction: column; /* Colocando os cartões em coluna */
    align-items: center;    /* Centraliza horizontalmente */
    justify-content: center; /* Centraliza verticalmente */
    max-width: 800px;      /* Largura máxima para controle */
    margin: 0 auto;        /* Centraliza a div na página */
}

.card {
    width: 100%;           /* Cada cartão ocupa 100% da largura da div */
    margin: 10px 0;       /* Espaço entre os cartões */
    padding: 20px;        /* Espaçamento interno do cartão */
    border: 1px solid #ccc; /* Borda para os cartões */
    border-radius: 5px;   /* Arredondamento dos cantos */
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1); /* Sombra sutil */
    text-align: center;    /* Centraliza o texto dentro do cartão */
    background-color: #2A2A2A;
}

 

.column {
    flex: 50%;
    padding: 10px;
    background-color: #2A2A2A;
    display: flex;
    flex-direction: column;
    align-items: center; /* Centraliza os itens horizontalmente */
    justify-content: center; /* Centraliza o conteúdo verticalmente */
    text-align: center; /* Centraliza o texto dentro dos elementos */
    margin: 20px auto 0 auto;/* Centraliza a div na página */
    max-width: 800px; /* Limita a largura máxima da div */
    border-radius: 20px;
}

.column_img {
    display: flex;
    flex-wrap: wrap; /* Permite que as imagens quebrem em várias linhas */
    justify-content: center; /* Centraliza horizontalmente as figuras */
    gap: 20px; /* Adiciona um espaço entre as figuras */
    margin: 20px auto; /* Centraliza a div e adiciona margem superior */
    max-width: 800px; /* Limita a largura máxima da div */
    background-color: #2A2A2A;
    border-radius: 20px;
  }

  .column_img figure {
    text-align: center; /* Centraliza o texto das legendas */
  }

  .column_img img {
    width: 100px; /* Ajusta o tamanho das imagens */
    height: auto; /* Mantém a proporção da imagem */
  }



.background-container {
    background-color: #2A2A2A; /* Cor de fundo */
    padding: 20px; /* Espaçamento interno para ajustar o tamanho do fundo */
    border-radius: 8px; /* Opcional: bordas arredondadas */
}

.col-lg-6 {
    max-width: 600px; /* Limita a largura das colunas */
}
.class_row {
    font-family: "Josefin Sans", sans-serif;
    display: flex;
    justify-content: center; /* Centraliza horizontalmente */

    display: flex;
    justify-content: center; /* Centraliza horizontalmente */
    margin-bottom: 20px; /* Espaço entre as linhas, ajuste conforme necessário */

}

.col-lg-6 {
    max-width: 600px; /* Limita a largura das colunas */
    background-color: #2A2A2A; /* Cor de fundo */
    padding: 20px; /* Espaçamento interno */
    border-radius: 20px; /* Opcional: bordas arredondadas */
}


.class_lista_main_atividade_inicio,
.class_lista_main_atividade {
    list-style-type: none; /* Remove os marcadores padrão */
    padding: 0; /* Remove o preenchimento padrão */
}

.class_lista_atividade_inicio,
.class_lista_atividade {
    font-size: 18px; /* Aumenta o tamanho da fonte */
    margin-bottom: 10px; /* Aumenta o espaçamento entre os itens da lista */
    line-height: 1.5; /* Aumenta a altura da linha para melhor legibilidade */
    color: #ffffff; /* Opcional: define a cor da fonte para branco, se necessário */
}
#titulo {
    text-align: center;
}